.container {
    padding: 0 10px;
}
.garage_one {
    min-height: 1080px;
    background: url(../githabfirst/img/screen-7.jpg) center center/cover no-repeat;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 50px;
    padding: 12px 0;
    display: flex;
}
.Thritysixlab {
    color: rgb(219, 216, 0);
    font-weight: 400;
    margin-right: 80px;
    margin-left: 55px;
}
.Cred {
    color: rgb(18, 219, 0);
    font-weight: 400;
    margin-right: 80px;
}
.Red_dust {
    color: rgb(255, 51, 0);
    font-weight: 400;
}
.exit {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-left: 650px;
}
.header_two {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 60px;
    
    display: flex;
    margin-top: 10px;
}
.header_list {
    list-style: none;
    display: flex;
    
}
.head_iteam  {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}
.head_iteam > a {
    color: rgba(255, 255, 255, 0.705);
    text-decoration: none;
}
.head_iteam a:hover {
    color: #fff;
}
.osnova {
    
    display: flex;

}
.text {
    
    width: 200px;
    height: 270px;
    background-color: coral;
    border-radius: 10%;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 600;
    margin: 110px 63px 0 63px;
    
}
.cons {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.number {
    margin: 10px 63px 0 63px;
    width: 200px;
    height: 45px;
    background-color: lawngreen;
    border-radius: 10px;
    padding: 6px 0 0px 14px;
}
/*.arows {
 display: flex;
 justify-content: space-between;
}
.icon_left {
    background: url(../githabfirst/icon/next.png) center center/cover no-repeat;
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
}
.icon_right {
    background: url(../githabfirst/icon/next.png) center center/cover no-repeat;
    width: 60px;
    height: 60px;
    
    
} */