body {
    background: url("../img/screen-7.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media (max-width: 768px) {
    .fixed-top-sm {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    body {
        padding-top: 44px;
    }
}

.tab-active {
    background-color: #e5e5e5;
}

.navbar {
    padding-bottom: 0px;
}

.robot {
    height: 300px;
    width: 200px;
}

.robot .card-title {
    position: absolute;
    bottom: 55px;
    text-align: center;
    left: 20px;
    right: 20px;
    
}
.custom-select {
    margin-top: 15px;
    width:200px; 
    display: block;
}
.container {
    display: flex;
    justify-content: space-between;
    
}
.carousel-control {
    background-color: black;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-top: 150px;
}
.app-footer {
    margin-top: 150px;
}
@media (max-width: 425px) {
    .container {
        display: block;
        
        margin-left: 90px;
    }
}
@media (max-width: 375px) {
    .container {
        display: block;
        
        margin-left: 70px;
    }
}
@media (max-width: 320px) {
    .container {
        display: block;
        
        margin-left: 40px;
    }
}
